//@use './variables.scss';
//@use './typography.scss';

.app {
    background: none;
    color: var(--color-white);
}

body {
    background-color: var(--color-dark-blue);
    color: var(--color-white);
}

a {
    color: var(--color-white);
    //transition: color 0.3s;
}

a:hover {
    color: var(--color-hover-gray);
    // transition: color 0.3s;
}
