:root {
    /* Font size */
    --fs-xs: 13px;
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 18px;
    --fs-xl: 20px;
    --fs-2xl: 24px;
    --fs-3xl: 28px;
    --fs-4xl: 32px;
    --fs-5xl: 36px;
    --fs-6xl: 40px;
    --fs-7xl: 44px;
    --fs-8xl: 48px;

    /* Line height */
    --lh-xs: 14px;
    --lh-sm: 16px;
    --lh-md: 20px;
    --lh-lg: 22px;
    --lh-xl: 24px;
    --lh-3xl: 28px;
    --lh-4xl: 30px;
    --lh-5xl: 32px;
    --lh-6xl: 36px;
    --lh-7xl: 40px;
    --lh-8xl: 44px;
    --lh-9xl: 48px;
    --lh-10xl: 50px;
}

@media (max-width: 550px) {
    :root {
        --fs-xs: 12px;
        --fs-sm: 13px;
        --fs-md: 14px;
        --fs-lg: 16px;
        --fs-xl: 18px;
        --fs-2xl: 20px;
        --fs-3xl: 24px;
        --fs-4xl: 26px;
        --fs-5xl: 30px;
        --fs-6xl: 32px;
        --fs-7xl: 36px;
        --fs-8xl: 38px;

        --lh-xs: 14px;
        --lh-sm: 16px;
        --lh-md: 20px;
        --lh-lg: 22px;
        --lh-xl: 24px;
        --lh-3xl: 28px;
        --lh-4xl: 30px;
        --lh-5xl: 32px;
        --lh-6xl: 36px;
        --lh-7xl: 25px;
        --lh-8xl: 25px;
        --lh-9xl: 25px;
        --lh-10xl: 25px;
    }
}
