:root {
    --color-green: #5cfe6c;
    --color-red: #fe5c5c;
    --color-yellow: #f4dd0f;
    --color-blue: #5c62fe;
    --color-divider: #dbdbe1;
    --color-divider2: #60627B;
    --color-gray: #a5a3ae;
    --color-white: #ffffff;
    --color-dark-blue: #1a1a2e;
    --color-text: #f3eefa;
    --color-hover-gray: #575757;
    --color-button-hovered: #454cff;
    --color-border-gray: #404040;
}
