$color-dark-blue: #1a1a2e;
$color-dark-blue-1: #1f2033;
$color-dark-blue-2: #2d2f48;
$color-light-gray: #f5f5f5;
$color-white: #ffffff;
$color-gray: #a5a3ae;
$color-hover-gray: #575757;
$color-blue: #3498db;
$color-hover-blue: #2980b9;
$color-border-gray: #404040;
$color-green: #5cfe6c;
$color-red: #fe5c5c;
$color-yellow: #f4dd0f;

:root {
    --color-green: #5cfe6c;
    --color-red: #fe5c5c;
    --color-yellow: #f4dd0f;
    --color-blue: #5c62fe;
    --color-divider: #dbdbe1;
    --color-divider2: #60627B;
    --color-gray: #a5a3ae;
    --color-white: #ffffff;
    --color-dark-blue: #1a1a2e;
    --color-dark-blue1: #1f2033;
    --color-text: #f3eefa;
    --color-hover-gray: #575757;
    --color-button-hovered: #454cff;
    --color-border-gray: #404040;
}
