:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-bg-card: #f1f1f1;
    --color-bg-warning: #e6a23c2d;
    --color-divider: rgba(144, 147, 153, 0.589);
    --warning: #e6a23c;
    --color-green: #5cfe6c;
    --color-red: #fe5c5c;
    --color-yellow: #f4dd0f;
    --color-blue: #5c62fe;
    --color-gray: #a5a3ae;
    --color-shadow: rgba(34, 60, 80, 0.2);
}
